@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:wght@200;300;400&display=swap');
* {
    /* border: 1px solid plum; */
    background-color: #FECB34;
    color: #272727;
}
body {
    font-family: 'Bebas Neue';
}
h1 {
    font-size: 4em;
    text-align: center;
}
h2 {
    font-size: 3em;
    text-align: center;
}
h3 {
    font-size: 2.5em;
    text-align: center;
}
p {
    font-size: 2em;
    text-align: center;
}
h1, h2, h3, p {
    margin: 25px;
}
ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
li {
    font-size: 2em;
}
img {
    width: 100px;
}
#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
button {
    border: none;
    transition: all .1s ease;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px 12px;
    z-index: 99;
}
.hover:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 5px #333333;
}
#boards {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 0;
}
#score {
    display: flex;
    justify-content: center;
}
#computer, #player{
    width: 250px;
}
#the-end {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 150px;
    margin-top: -10px;
    /* border: 2px solid white; */
    background-color: #FECB34;
}
.ended {
    z-index: 999;
}
#winner {
    font-size: 5em;
}
#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -110px;
    margin-right: 50px;
    width: 70px;
    height: 70px;
    display: none;
}
.reset {
    z-index: 9999;
    font-size: 1em;
}
#footer {
    position: fixed;
    bottom: 5px;
}
a {
    text-decoration: none;
}

@media (max-width: 670px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 2em;
    }
    p {
        font-size: 2em;
    }
    li {
        font-size: 1.5em;
    }
    #winner {
        font-size: 3em;
    }
    #the-end {
        width: 400px;
    }
    .reset {
        font-size: 0.8em;
    }
}